<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask上传图片演示</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <h1>基于深度学习的人像分割模型</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <h3>选择人像图</h3>
        <input type="file" name="file" class="file" style="margin-top:20px;"/>
        <h3>选择背景图</h3>
        <input type="file" name="fileback" class="file" style="margin-top:20px;">
        &emsp;
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
        <br><br>
        <hr style=" height:10px;border:none;border-top:10px groove skyblue;" />
    </form>
    <br>
</body>

</html>